USE [master]
GO
/****** Object:  Database [PRJ301_Project_Bl5]    Script Date: 17.08.2022 22:49:01 ******/
CREATE DATABASE [PRJ301_Project_Bl5]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRJ301_Project_Bl5', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_Project_Bl5.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRJ301_Project_Bl5_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRJ301_Project_Bl5_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRJ301_Project_Bl5].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRJ301_Project_Bl5]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 17.08.2022 22:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[eid] [int] NOT NULL,
	[ename] [nvarchar](150) NOT NULL,
	[paygradeid] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[eid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paygrade]    Script Date: 17.08.2022 22:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paygrade](
	[paygradeid] [int] NOT NULL,
	[multi] [float] NOT NULL,
 CONSTRAINT [PK_Paygrade] PRIMARY KEY CLUSTERED 
(
	[paygradeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request Type]    Script Date: 17.08.2022 22:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request Type](
	[typeid] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Request Type] PRIMARY KEY CLUSTERED 
(
	[typeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 17.08.2022 22:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[typeid] [int] NOT NULL,
	[from] [datetime] NOT NULL,
	[to] [datetime] NOT NULL,
	[createdbyid] [int] NOT NULL,
	[rid] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 17.08.2022 22:49:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[tid] [int] IDENTITY(1,1) NOT NULL,
	[eid] [int] NOT NULL,
	[checkin] [datetime] NOT NULL,
	[checkout] [datetime] NOT NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employees] ([eid], [ename], [paygradeid]) VALUES (1, N'MrA', 4)
INSERT [dbo].[Employees] ([eid], [ename], [paygradeid]) VALUES (2, N'MrB', 2)
INSERT [dbo].[Employees] ([eid], [ename], [paygradeid]) VALUES (3, N'MrC', 3)
GO
INSERT [dbo].[Paygrade] ([paygradeid], [multi]) VALUES (1, 1)
INSERT [dbo].[Paygrade] ([paygradeid], [multi]) VALUES (2, 1.5)
INSERT [dbo].[Paygrade] ([paygradeid], [multi]) VALUES (3, 2)
GO
INSERT [dbo].[Request Type] ([typeid], [type]) VALUES (1, N'Nghỉ ốm')
INSERT [dbo].[Request Type] ([typeid], [type]) VALUES (2, N'Nghỉ thai sản')
INSERT [dbo].[Request Type] ([typeid], [type]) VALUES (3, N'Nghỉ phép')
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Paygrade] FOREIGN KEY([paygradeid])
REFERENCES [dbo].[Paygrade] ([paygradeid])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Paygrade]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Employees] FOREIGN KEY([createdbyid])
REFERENCES [dbo].[Employees] ([eid])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Employees]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Request Type] FOREIGN KEY([typeid])
REFERENCES [dbo].[Request Type] ([typeid])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Request Type]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Employees] FOREIGN KEY([eid])
REFERENCES [dbo].[Employees] ([eid])
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Employees]
GO
USE [master]
GO
